<body>
  <h1>Edit <%= car.name %></h1>
  <form action="/cars/<%= car._id %>?_method=POST" method="put">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= car.name  %>"/>

    <br />
    <label for="description">description:</label>
    <input type="text" name="description" id="description" value="<%= car.description  %>"/>

    <br />

    
    <label for="image">image:</label>
    <input type="file" name="image" id="image" accept="image/*" value="<%= car.image  %>">

  

    
    <button type="submit">Update Car</button>
  </form>
</body>
